footer {
    width :100%;
    bottom: 0;
    position: relative;
}

#map_canvas  {
    /*height: 600px;*/
    /*min-height: 100%;*/
}
.map {
    /*min-height: 100%;*/
}

.chart-panel pre {
    /*min-height: 100%;*/
}

.full {
    height: 100%;
}